/* geral*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  color:#323232;
  border:none;
}

body{
  background-image:url('../../assets/background.jpg');
  background-size:cover;/*para que a imagem seja totalmente visivel*/
  background-position-y: -200px;/*para que a imagem seja totalmente visivel*/
}

textarea:focus,input:focus{
  outline: none;
}

a,label{
  font-size:.8rem;
  font-weight: bold;
}
a:hover{
  color:#4D42FA
}
/*container -login */

.login-container{
  background-color: #fff;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 155px 40px;
  margin-top: 0.5vh;
  border-radius: 10px;
  text-align: center;

}


/*formulario*/
form{
  margin-top:30px;
  margin-bottom:40px;
}
label,input{
  display: block;
  width: 100%;
  text-align: left;

}
label{
  font-weight: bold;
}
input{
  border-bottom:2px solid #323232;
  padding: 10px;
  font-size:1rem;
  margin-bottom:20px;

}
input:focus{
  border-bottom:2px solid #4D42FA;
}

.forgot-password{
  text-align: right;
  display: block;
}
input[type="submit"]{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 20px;
  margin-top: 30px;
  color: #fff;
  background-color: #4D42FA;
  cursor: pointer;
}
input[type="submit"]:hover{
  background-color: #4D42FA;
  color: #fff;
  transition: .5s;
}
