.body{
    background-image: url('https://img.freepik.com/fotos-gratis/piscina_74190-2109.jpg?w=2000');
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 10vh;
    overflow: hidden;
    
}
input{
    
      background: transparent;
      border-radius: 10px;
      border: none;
      width: 85%;
      padding: 8px;
      border: #061ef8 1.5px solid
}
button{
    width: 9rem;
    border-radius: 4px;
    font-weight: 500;
    background: transparent;
   
    padding:.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    transition: filter 0.2s;

    &.outlined {
        background: #fff;
        border: 1px solid #835afd;
        color: #835afd;

    }

        &:not(:disabled):hover{
            filter: brightness(0.9);
        }

        &:disabled{
            
            cursor: not-allowed;
        }

}